.contentBox{
    width: 100%;
    height: 50vh;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sliderContainer{
    width: 100%;
    height: 50vh;
}
.contentBox img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .contentBox{
        height: 30vh;
    }
}