
.cons {
	width: 100vw;
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(https://tinypic.host/images/2024/04/06/vecteezy_fundo-de-textura-de-pedra-preta-escura_2223734-min.jpeg);
}

.coco {
	margin-top: 15vh;
	width: 90%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	font-family: 'Nunito', sans-serif;
	background-color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	margin: 1%;
	width: 20%;
	border-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.494);
	font-size: 13px;
	overflow: hidden;
	text-decoration: none;
}
.cardText {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 25%;
}

.pizzaName {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #ffa800;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 25px;
	margin-bottom: 10px;
}

.pizzaSpan {
	width: 150px;
	height: 3px;
	margin-bottom: 5px;
	background-color: #ffa800;
}

.ingredients {
	margin: 5px;
	color: gray;
}

.card:hover .card-img {
	scale: 140%;
	transition: 500ms ease;
}

.img-card {
	overflow: hidden;
	width: 100%;
	height: 250px;
	border-radius: 5px 5px 0px 0px;
}

.img-card .card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px 5px 0px 0px;
}

.footerCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	width: 100%;
	height: 25%;
}

.cardFooterPrice {
	font-size: large;
	margin: 0;
	width: 50%;
	text-align: center;
}

.footerBottom {
	font-size: large;
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sizeBtn {
	width: 100%;
	height: 100%;
	display: flex;
}

.btnSizeLeft {
	text-decoration: none;
	cursor: pointer;
	background-color: #ffaa0045;
	width: 50%;
	height: 100%;
	border-radius: 5px 0px 0px 5px;
	font-size: medium;
	border: 1px solid white;
}

.btnSizeLeft:active {
	scale: 95%;
	color: white;
	transition: 0.3s linear;
}

.btnSizeRigth {
	text-decoration: none;
	cursor: pointer;
	background-color: #ffaa0045;
	color: black;
	width: 50%;
	height: 100%;
	border-radius: 0px 5px 5px 0px;
	font-size: medium;
	border: 1px solid white;
}

.btnSizeRigth:active {
	scale: 95%;
	color: white;
	transition: 0.3s linear;
}

.btnCheeseCrust {
	text-decoration: none;
	background-color: #ffaa0045;
	width: 100%;
	height: 80%;
	border-radius: 5px;
	font-size: medium;
	border: 2px solid white;
	cursor: pointer;
}

.btnCheeseCrust:active {
	scale: 95%;
}

.footerBottom button {
	width: 50%;
	height: 100%;
}

.basketImgBtn {
	object-fit: contain;
	width: 70%;
	height: 70%;
	z-index: 1;
}

.active {
	background-color: orange;
	color: white;
	transition: 0.3s linear;
}

.BtnNextPage {
	width: 25%;
	height: 40px;
	border-radius: 10px;
	margin: 20px;
	border: 2px solid orange;
	background-color: #ffaa0045;
	color: #ffa800;
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
	cursor: pointer;
}

.BtnNextPage:hover {
	scale: 101%;
}

.BtnNextPage:active {
	scale: 105%;
	transition: 0.5s;
}

.btnOrder {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding-right: 15px;
	font-size: larger;
	background-color: #ffaa0045;
}

.btnOrder:active {
	background-color: #da9201;
}

.toaster {
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	.card {
		width: 30%;
	}

	.coco {
		margin-top: 10vh;
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.card {
		width: 45%;
	}
	.coco {
		margin-top: 15vh;
		width: 100%;
	}
	.BtnNextPage {
		width: 40%;
		font-size: medium;
	}

	.cardText {
		height: 30%;
	}
	.pizzaName {
		font-size: medium;
	}
	.ingredients {
		font-size: smaller;
	}
	.btnSizeLeft {
		font-size: small;
	}
	.btnSizeRigth {
		font-size: small;
	}
	.btnCheeseCrust {
		font-size: small;
	}
	.cardFooterPrice {
		font-size: small;
	}
	.btnOrder {
		font-size: small;
		padding-right: 10px;
	}
}
