.cons {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #ffa800;
}

.coco {
	margin-top: 15vh;
	width: 90%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	font-family: 'Nunito', sans-serif;
	background-color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 1%;
	width: 20%;
	border-radius: 15px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.494);
	font-size: 13px;
	overflow: hidden;
}
.cardText {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	height: 25%;
}

.pizzaName {
	margin: 0px;
	margin-left: 5px;
}

.ingredients {
	margin: 5px;
	color: gray;
}
.card:hover {
	scale: 105%;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.494);
	transition: 500ms ease;
}

.card:hover .card-img {
	scale: 140%;
	transition: 500ms ease;
}

.img-card {
	overflow: hidden;
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0px 0px;
}

.img-card .card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
}

.footerCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	width: 100%;
	height: 25%;
}

.cardFooterPrice {
	margin: 0;
	width: 50%;
	text-align: center;
}

.footerBottom {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sizeBtn {
	width: 100%;
	height: 100%;
	display: flex;
}

.btnSizeLeft {
	cursor: pointer;
	width: 50%;
	height: 100%;
	border-radius: 5px 0px 0px 5px;
	font-size: medium;
	border: 1px solid white;
}

.btnSizeLeft:active {
	scale: 95%;
	color: white;
	transition: 0.3s linear;
}

.btnSizeRigth {
	cursor: pointer;
	width: 50%;
	height: 100%;
	border-radius: 0px 5px 5px 0px;
	font-size: medium;
	border: 1px solid white;
}

.btnSizeRigth:active {
	scale: 95%;
	color: white;
	transition: 0.3s linear;
}

.btnCheeseCrust {
	width: 100%;
	height: 80%;
	border-radius: 5px;
	font-size: medium;
	border: 1px solid white;
	cursor: pointer;
}

.btnCheeseCrust:active {
	scale: 95%;
}

.footerBottom button {
	width: 50%;
	height: 100%;
}

.basketImgBtn {
	object-fit: contain;
	width: 70%;
	height: 70%;
	z-index: 1;
}

.active {
	background-color: rgb(2, 171, 2);
	color: white;
	transition: 0.3s linear;
}

.BtnNextPage {
	width: 25%;
	height: 40px;
	border-radius: 10px;
	margin: 20px;
	border: none;
	font-family: 'Nunito', sans-serif;
	font-size: large;
	cursor: pointer;
}

.BtnNextPage:hover {
	background-color: gold;
	color: black;
}

.BtnNextPage:active {
	scale: 105%;
	transition: 0.5s;
}

.btnOrder {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding-right: 15px;
	font-size: larger;
}

.btnOrder:hover {
	background-color: gainsboro;
}

.btnOrder:active {
	margin-top: 5px;
}

.toaster {
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	.card {
		width: 30%;
	}

	.coco {
		margin-top: 10vh;
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.card {
		width: 45%;
		height: 45vh;
	}
	.coco {
		margin-top: 0vh;
		width: 100%;
	}
	.BtnNextPage {
		width: 40%;
	}
	.img-card {
		height: 50%;
	}
	.cardText {
		height: 30%;
	}
	.pizzaName {
		font-size: medium;
	}
	.ingredients {
		font-size: smaller;
	}
	.btnSizeLeft {
		font-size: small;
	}
	.btnSizeRigth {
		font-size: small;
	}
	.btnCheeseCrust {
		font-size: small;
	}
	.cardFooterPrice {
		font-size: small;
	}
	.btnOrder {
		font-size: small;
		padding-right: 10px;
	}
}
